:root {
  --main-light-color: #fff;
  --main-dark-color: #212121;
  --second-dark-color: #757575;
  --mail-font-color: #ffffff;
  --second-font-color: #2f303a;
  --third-font-color: #f5f4fa;
  --portfolio-font: #e5e5e5;
  --color-icon: #AFB1B8;
  --main-hover-color: #2196f3;
  --black-logo: #000;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--second-dark-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo--black {
  color: var(--black-logo);
}

.logo--white {
  color: var(--mail-font-color);
}

.button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--mail-font-color);
  background: #2196F3;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background var(--transition-dur-and-func), drop-shadow var(--transition-dur-and-func);
  transition: background var(--transition-dur-and-func), drop-shadow var(--transition-dur-and-func);
}
.button:focus, .button:hover {
  background-color: #188CE8;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(15, 15, 15, 0.5);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility var(--transition-dur-and-func);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility var(--transition-dur-and-func);
  overflow-y: scroll;
  z-index: 2;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000;
  -webkit-transition: opacity var(--transition-dur-and-func), fill var(--transition-dur-and-func), -webkit-transform var(--transition-dur-and-func) 250ms;
  transition: opacity var(--transition-dur-and-func), fill var(--transition-dur-and-func), -webkit-transform var(--transition-dur-and-func) 250ms;
  transition: transform var(--transition-dur-and-func) 250ms, opacity var(--transition-dur-and-func), fill var(--transition-dur-and-func);
  transition: transform var(--transition-dur-and-func) 250ms, opacity var(--transition-dur-and-func), fill var(--transition-dur-and-func), -webkit-transform var(--transition-dur-and-func) 250ms;
  cursor: pointer;
}
.close:hover, .close:focus {
  fill: var(--main-hover-color);
}

.close-icon {
  width: 100%;
  height: 100%;
}

.modal__titel {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__field {
  margin-bottom: 10px;
}
.modal-form__field:nth-child(4n) {
  margin-bottom: 20px;
}

.modal-form__desc {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-dark-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color var(--transition-dur-and-func);
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--main-hover-color);
}

.modal-form__input-wraper {
  position: relative;
  display: block;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--main-dark-color);
  -webkit-transition: fill var(--transition-dur-and-func);
  transition: fill var(--transition-dur-and-func);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--main-hover-color);
}

.modal-form__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-dur-and-func);
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__message:focus {
  outline: none;
  border-color: var(--main-hover-color);
}
.modal-form__message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__check-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal-form__check {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-form__own-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: background-color var(--transition-dur-and-func);
  transition: background-color var(--transition-dur-and-func);
}
.modal-form__check:checked + .modal-form__own-checkbox {
  border-color: transparent;
  background-color: var(--main-hover-color);
}
.modal-form__check:focus + .modal-form__own-checkbox {
  border-color: var(--main-hover-color);
}

.modal-form__own-checkbox-icon {
  display: none;
}
.modal-form__check:checked + .modal-form__own-checkbox .modal-form__own-checkbox-icon {
  display: block;
}

.modal-form__check-desc,
.modal-form__check-contract {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-dark-color);
}
@media screen and (min-width: 1200px) {
  .modal-form__check-desc,
.modal-form__check-contract {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__check-contract {
  color: var(--main-hover-color);
}

.button.modal__button {
  width: 200px;
}

.section {
  padding-top: 94px;
}
.section:nth-child(n+3) {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .section {
    padding-top: 60px;
  }
  .section:nth-child(n+2) {
    padding-bottom: 60px;
  }
}

.sections__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-dark-color);
}
@media screen and (min-width: 1200px) {
  .sections__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__item:not(:last-child) {
    margin-right: 30px;
  }
}

.social-networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-networks__item {
  width: 44px;
  height: 44px;
}
.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #AFB1B8;
  background-color: #fff;
  -webkit-transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.social-networks__link:hover, .social-networks__link:focus {
  background-color: var(--main-hover-color);
  color: #fff;
}

.social-networks__link--dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .nav__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    margin-right: 92px;
  }
}

.mobile-menu {
  width: 100%;
  height: 100%;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--mail-font-color);
    -webkit-transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
  }
  .mobile-menu.is-open {
    display: block;
  }
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-menu__container {
    width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__container {
    padding: 48px 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
}
.menu-button.is-open {
  display: none;
}
@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.mobile-menu__close-btn {
  position: absolute;
  display: none;
  top: 10px;
  right: 15px;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  -webkit-transition: fill var(--transition-dur-and-func);
  transition: fill var(--transition-dur-and-func);
}
@media screen and (max-width: 767px) {
  .mobile-menu__close-btn {
    display: inline-block;
  }
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--main-hover-color);
}

.mobile-menu__list {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.mobile-menu__item:not(:last-child) {
  padding-right: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__item:not(:first-child) {
  padding-left: 5px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--main-hover-color);
}

@media screen and (max-width: 767px) {
  .nav__list {
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-dark-color);
  -webkit-transition: color var(--transition-dur-and-func);
  transition: color var(--transition-dur-and-func);
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
  }
  .nav__link--active {
    color: #2196f3;
  }
  .nav__link--active::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(33, 150, 243);
    border-radius: 2px;
    opacity: 1;
    z-index: 1;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-contact {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767px) {
  .header-contact__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header-contact__item:not(:first-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__item:not(:first-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-dark-color);
  -webkit-transition: color var(--transition-dur-and-func);
  transition: color var(--transition-dur-and-func);
}
@media screen and (max-width: 767px) {
  .header-contact__link--menu-tel {
    font-size: 34px;
    color: var(--main-hover-color);
  }
}
@media screen and (max-width: 767px) {
  .header-contact__link--menu-email {
    font-size: 26px;
  }
}

.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--main-hover-color);
}

.header-contact__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contact__icon {
    display: inline-block;
    fill: currentColor;
    margin-right: 10px;
  }
}

.hero {
  max-width: 1600px;
  height: 400px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/fon-hero-mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/fon-hero-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile/fon-hero-mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/fon-hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet/fon-hero-tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/fon-hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet/fon-hero-tablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/fon-hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desctop/fon-hero-desctop.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/fon-hero-desctop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desctop/fon-hero-desctop@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/fon-hero-desctop@2x.jpg");
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .section__item.benefits__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .section__item.benefits__item {
    width: calc((100% - 120px) / 4);
  }
}

.benefits__subtitle {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-dark-color);
}
@media screen and (min-width: 768px) {
  .benefits__subtitle {
    text-align: start;
  }
}

.benefits__icon-box {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background: #F5F4FA;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__text {
  line-height: 24px;
}

.feature {
  display: none;
}
@media screen and (min-width: 1200px) {
  .feature {
    display: block;
  }
}

.feature-thumb {
  position: relative;
}

.feature__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--mail-font-color);
}

.team {
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  text-align: center;
  background-color: var(--mail-font-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  width: 100%;
}
@media screen and (min-with: 768px) {
  .team__img {
    width: 100%;
  }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  margin-bottom: 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-dark-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 320px) {
  .customers__list {
    margin: -15px;
  }
}

@media screen and (min-width: 320px) {
  .section__item.customers__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .section__item.customers__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .section__item.customers__item {
    width: calc((100% - 180px) / 6);
  }
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 92px;
  color: var(--color-icon);
  border-radius: 4px;
  border: 1px solid currentColor;
  -webkit-transition: color var(--transition-dur-and-func);
  transition: color var(--transition-dur-and-func);
}
.customers__link:hover, .customers__link:focus {
  color: var(--main-hover-color);
}

.customers__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: var(--second-font-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.address__link,
.address__contact {
  font-style: normal;
  line-height: 1.71;
}

.address__link {
  color: var(--mail-font-color);
  -webkit-transition: color var(--transition-dur-and-func);
  transition: color var(--transition-dur-and-func);
}
.address__link:hover, .address__link:focus {
  color: var(--main-hover-color);
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
}
.address__contact:hover, .address__contact:focus {
  color: var(--main-hover-color);
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

@media screen and (max-width: 1199px) {
  .footer__left-side {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer__right-side {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__right-side {
    margin-left: 70px;
  }
}

.footer__subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.footer-form {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 94px;
  }
}

.footer-form__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-form__input {
  padding-left: 16px;
  width: 100%;
  height: 50px;
  color: var(--mail-font-color);
  background-color: var(--second-font-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.button.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}
@media screen and (max-width: 1199px) {
  .button.footer-form__button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .button.footer-form__button {
    margin-left: 12px;
  }
}

.footer-form__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--mail-font-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.battons-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.buttons {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-dark-color);
  background: var(--third-font-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 6px 22px;
  -webkit-transition: background var(--transition-dur-and-func), color var(--transition-dur-and-func), -webkit-box-shadow var(--transition-dur-and-func);
  transition: background var(--transition-dur-and-func), color var(--transition-dur-and-func), -webkit-box-shadow var(--transition-dur-and-func);
  transition: background var(--transition-dur-and-func), color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
  transition: background var(--transition-dur-and-func), color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func), -webkit-box-shadow var(--transition-dur-and-func);
}
.buttons:focus, .buttons:hover {
  background: var(--main-hover-color);
  color: var(--main-light-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.battons-item:not(:last-child) {
  margin-right: 8px;
}

.list-jobs {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-jobs .item {
  margin-right: 30px;
  margin-top: 30px;
}
.list-jobs .item:nth-child(3n) {
  margin-right: 0;
}
.list-jobs .item:nth-child(-n+3) {
  margin-top: 0;
}

.href-img {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition-dur-and-func);
  transition: -webkit-box-shadow var(--transition-dur-and-func);
  transition: box-shadow var(--transition-dur-and-func);
  transition: box-shadow var(--transition-dur-and-func), -webkit-box-shadow var(--transition-dur-and-func);
}
.href-img:hover, .href-img:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--transition-dur-and-func);
  transition: -webkit-transform var(--transition-dur-and-func);
  transition: transform var(--transition-dur-and-func);
  transition: transform var(--transition-dur-and-func), -webkit-transform var(--transition-dur-and-func);
}
.href-img:hover .product-overlay, .href-img:focus .product-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.href-tex {
  position: absolute;
  width: 322px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--mail-font-color);
}

.content-item {
  padding: 24px 20px;
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
}

.content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-dark-color);
  margin-bottom: 4px;
}

.content-tex {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-dark-color);
}/*# sourceMappingURL=main.css.map */